
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: bisque;
}


li, a{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 30px 10%;
    box-shadow:0 3px 5px  rgba(0, 0, 0, 0.104);
    margin-bottom: 20px;
}

button{
    background-color: cornflowerblue;
    color: white;
    padding: 5px 10px;
    border: unset;
    border-radius: 5px;
    cursor: pointer;
}
.nav_link {
    list-style:none;

}
.log{
    background-color: blueviolet;
}
#logo{
    height: 40px;
}


.nav_link li {
    display: inline-block;
    padding: 20px 20px;
}

.nav_link li a {
    transition: all 0.3s ease 0s;

}

.nav_link a:hover{
    color: white;
}


.botonI{
    padding: 9px 25px;
    background-color: blueviolet;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

header nav img {
    height: 25px;
}

header nav{
    display: flex;
    justify-content: space-between;
    margin: 0 60px;
}

header nav div{
    display: flex;
    align-items:  center;

}

#carrito-cuenta{
    background-color: red;
    border-radius: 100%;
    display: inline-block;
    width: 20px;
    line-height: 20px;
    aspect-ratio: 1;
    text-align: center;

}
.escondido{
    display: none;
}